@charset "UTF-8";
 

.bxslider{
	width : 100%;
	height : 100%;
	/* text-align: center; */
	border: 10px solid black;
}
.bxslider_cont{
	text-align: center;
	margin-left: 300px;
}

.bx-wrapper{
	width: 72%; 
	height: 600px;
	/* text-align: center; */
	margin-left: 240px;
	margin-top: 50px;
}

.bx-controls-direction a{
    z-index:3;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 2;
}