<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://webfontworld.github.io/suseong/SuseongBatang.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link href="/CulturePlace/Intro/nav.css" rel="stylesheet"> <!-- 스타일시트 -->

</head>

<body>
    <div class="footer" th:fragment="bbbb">
        <div class="common_footer"> <!-- 푸터 영역 -->
            <p class="footer_text">made by <span style="color: red">1조</span> 주병훈 김한나 권순헌 최근혁 김형규 민유성</p>
        </div>


        <!-- chat 아이콘 -->
        <a href="#" class="chat_icon"> <span>
                <img class="chat_icon_img" src="/Culture/images/Intro/header/chat.png">
            </span>
        </a>

        <!-- chat bot 아이콘 -->
        <a href="#" class="chatbot_icon"> <span>
                <img class="chatbot_icon_img" src="/Culture/images/Intro/header/chatbot.png">
            </span>
        </a>

        <!-- top 버튼-->
        <a href="#" class="btn_gotop btn-lg"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
</body>
</html>