@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
.review-item{
	overflow: hidden;
}
.review-item span{
	display: inline-block;
	width: 100%; height: 100%;
	
	transition-duration: 1s;
}
.review-item:hover span {
	transform:scale(1.2);
	transition-duration: 0.5s;
}


.review-item .image1{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review1.jpg') no-repeat 30% 30%/cover;
}
.review-item .image2{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review2.jpg') no-repeat 30% 30%/cover;
}
.review-item .image3{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review3.jpg') no-repeat 30% 30%/cover;
}
.review-item .image4{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review4.jpg') no-repeat 30% 30%/cover;
}
.review-item .image5{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review5.png') no-repeat 30% 30%/cover;
}
.review-item .image6{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review6.jpg') no-repeat 30% 30%/cover;
}
.review-item .image7{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review7.jpg') no-repeat 30% 30%/cover;
}
.review-item .image8{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review8.jpg') no-repeat 30% 30%/cover;
}
.review-item .image9{
	background: url('/Culture/images/CulturePlaceImg/CulturePlaceMain/reviewImg/review9.jpg') no-repeat 30% 30%/cover;
}
