@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* 카드 관련 css*/

/*.card:hover {
  box-shadow: 0 30px 30px 0 rgba(0,0,0,0.2);
}*/

/* h2{
   margin-top: 20px;
   margin-left: 240px;
   width: 250px;
}
.review_h2{
   margin-top: 30px;
   margin-left: 240px;
} */

.list_wrap{
/*    margin-left: 240px; */
   /* height: 300px; */
   /* border: 1px solid black; */
   text-align: center;
}

a{
   text-decoration:none;
   color: inherit;
}

/* .list_wrap ul{
   font-size: 0;
   width: 100%;
   margin-top:-16px;
} */


.list_wrap .item{
	position:relative;
   display:inline-block;
   width: 8%; /* 이부분 5개 씩 조정*/
   margin-left: 2%;
   margin-top: 20px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
   z-index: 1;
}


/* .list_wrap .item:nth-child(5n-4){
   margin-left: 10px;
} */

.list_wrap .item .image{
   width: 100%;
   height: 186px;
   background-color: #fffbfb;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: contain;
   font-size: 0px;
   border-bottom: 1px solid c0c0c0;
}

.list_wrap .item .cont{
   padding:20px;
}

.list_wrap .item strong{
   display:block;
/*    margin: 0 0 10px 0; */
   font-size: 16px;
   letter-spacing: -1px;
   text-align: center;
   overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* .list_wrap .item p{
	font-size: 20px;
	letter-spacing: -1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} */


.list_wrap .item a{
   display:block;
   width:100%;
}

.list_wrap .item a:hover .image{
	opacity:0.1;
	transition:0.2s;
}

.list_wrap .item a:hover>p{
	opacity:1;
	transition:0.2s;
}



.list_wrap p{
	position: absolute;
	top: 33%;
	right: 14%;
	margin: 0 0 0px;
	opacity: 0;
	font-size:13px;
	font-weight: 600;
	color: white;
	border: 1px solid white;
	background: #fb4357;
	padding: 7px 30px 7px 30px;
	border-radius: 30px;
}

.slide01{
	background-image: url("/Culture/images/CulturePlaceImg/CultureDB_category/001.png");
}
.slide02{
	background-image: url("/Culture/images/CulturePlaceImg/CultureDB_category/002.png");
}
.slide03{
	background-image: url("/Culture/images/CulturePlaceImg/CultureDB_category/006.png");
}
.slide04{
	background-image: url("/Culture/images/CulturePlaceImg/CultureDB_category/003.png");
}
.slide05{
	background-image: url("/Culture/images/CulturePlaceImg/CultureDB_category/004.png");
}
.slide06{
	background-image: url("/Culture/images/CulturePlaceImg/CultureDB_category/005.png");
}

/* .item{
   transition: background 1s ease;
}

.item:hover {
  width: 400px;
  margin: 0px auto;
  
} */

/*  .top{
   font-size: 20px;
   float: left;
   border : 1px solid black;
   height: 80px;
   width: 400px;
} 

.more{
   height: 40px;
}

#more_detail{
   margin-top: 40px;
   border:1px solid black; 
   width: 200px;
   height: 40px;
   float:right;
   margin-right: 157px;
}
#more_detail2{
   margin-top: 40px;
   border:1px solid black; 
   width: 200px;
   height: 40px;
   float:right;
   margin-right: 157px;
} */

/* card 관련 css 종료 */

/* 이미지 리뷰 관련 css 시작 */
