@charset "UTF-8";
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
        }

        html {
            position: relative;
            min-height: 100%;
            margin: 0;
            padding-top: 130px;
            padding-bottom: 150px;
        }
        
        
        .common_header a {
            text-decoration: none;
        }


        .common_header {
            position: fixed;
            top: 0;
            left: 0;
            height: 130px;
            width: 100%;
            background-color: #000;
            z-index: 999;
        }



        /* 컨테이너 보이기 */

        .common_header div,
        ul,
        li {
            display: inline-block;
        }

        .common_header div:last-of-type {
            position: absolute;
            top:0;
            height:200px;
            width:100%;
            z-index: -1;
        }


        #common_logo_image {
            margin-top: -31px;
        }

        /* 로고 위치 조정 */
        .common_logo {
            /*             border: 1px solid red; */

        }

        @media(max-width:1151px) {
            .common_navbar_menu>ul {
                visibility: hidden;
            }

        }

        @media(max-width:1482px) {
            .common_navbar_login>ul {
                visibility: hidden;

            }
        }

        @media(max-width:1150px) {
            .common_navbar_login>ul {
                visibility: hidden;

            }
        }

        @media(max-width:762px) {
            .common_navbar_login>ul {
               visibility: hidden;

            }
        }



        .common_navbar_menu {
            font-size: 35px;
            margin-left: 3%;
            /*             border: 1px solid red; */
            margin-top:33px;
        }

        .common_navbar_menu li {
            margin-left: 40px;
            margin-right: 50px;
        }

        .common_navbar_menu_p {
            color: #fff;
            height:40px;
        }

        .common_navbar_menu a:after{ /* 상위메뉴 밑줄 애니메이션 */
            /*after 가상요소*/
            display: block;
            /*a요소를 블록 요소라고 선언*/
            content: '';
            /*comtent안은 밑줄 디자인을 위해 비워두세요.*/
            border-bottom: solid 4px #4c4c4c;
            transform: scaleX(0);
            /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
            transition: transform 200ms;
            /*변형 방식*/
            transition-property: transform, transition;
        }

        .common_navbar_menu a:hover:after {
            transform: scaleX(1);
            /*a 속성에 hover시 after를 기존 크기로 변경*/
        }


        .common_navbar_login {
            color: #fff;
            float: right;
            font-size: 20px;
        }
        
        .common_navbar_login_p{
            color:#fff;
            height:17px;
        }

        .common_navbar_login>ul>li {
            margin-left: 20px;
        }
        
        .common_navbar_login a:after{ /* 로그인 밑줄 애니메이션 */
            /*after 가상요소*/
            display: block;
            /*a요소를 블록 요소라고 선언*/
            content: '';
            /*comtent안은 밑줄 디자인을 위해 비워두세요.*/
            border-bottom: solid 4px #4c4c4c;
            transform: scaleX(0);
            /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
            transition: transform 200ms;
            /*변형 방식*/
            transition-property: transform, transition;
        }

        .common_navbar_login a:hover:after {
            transform: scaleX(1);
            /*a 속성에 hover시 after를 기존 크기로 변경*/
        }


        .common_navbar_menu_hover {
        }
        

        .common_navbar_menu_hover_p {
            font-size: 20px;
            color:#fff;
        }

        .common_navbar_menu_hover li{
            margin-right: 30px;
        }

        .common_navbar_menu_hover ul{
            position: absolute;
            bottom:10%;
            width: 100%;
        }
        
        .common_navbar_menu_hover a:after{ /* 하위메뉴 밑줄애니메이션 */
            /*after 가상요소*/
            display: block;
            /*a요소를 블록 요소라고 선언*/
            content: '';
            /*comtent안은 밑줄 디자인을 위해 비워두세요.*/
            border-bottom: solid 4px #4c4c4c;
            transform: scaleX(0);
            /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
            transition: transform 200ms;
            /*변형 방식*/
            transition-property: transform, transition;
        }

        .common_navbar_menu_hover a:hover:after {
            transform: scaleX(1);
            /*a 속성에 hover시 after를 기존 크기로 변경*/
        }
        
        .common_navbar_menu_culturedb_hover_p, .common_navbar_menu_community_hover_p { /* 하위메뉴 밑줄 위치 */
            height:17px;
            font-size: 17px;
        }
        
        .common_navbar_menu_culturedb_hover{
            display: none;
        }
        .common_navbar_menu_community_hover{
            display: none;
        }


        /* 푸 ㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜ 터 */
        .common_footer {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 150px;
            width: 100%;
            /*             border: 1px solid red; */
            background-color: #000;
            background-image: url("/Culture/images/Intro/header/footer_fly.gif");
            background-repeat: no-repeat;
            background-position: 31% 20%;
        }

        .footer_text {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            margin-top: 60px;
        }

        .btn_gotop {
            /*	display: none;*/
            position: fixed;
            bottom: 30px;
            right: 30px;
            z-index: 999;
            border: 1px solid #ccc;
            outline: none;
            background-color: white;
            color: #333;
            padding: 10px 15px;
            border-radius: 100%;
        }

        .btn_gotop:hover .glyphicon {
            color: white;
        }

        .btn_gotop:hover {
            background-color: #000;
        }
        
        .chatbot_icon {
            display: block;
            position: fixed;
            bottom: 85px;
            right: 30px;
            z-index: 999;
        }

        .chatbot_icon_img {
            width: 50px;
            transition-duration: 0.3s;
        }

        .chatbot_icon_img:hover {
            transform: scale(1.15);
            transition: all 0.3s
        }

        
        .chat_icon {
            display: block;
            position: fixed;
            bottom: 145px;
            right: 31px;
            z-index: 999;
        }

        .chat_icon_img {
            width: 50px;
            transition-duration: 0.3s;
        }

        .chat_icon_img:hover {
            transform: scale(1.15);
            transition: all 0.3s
        }


        /* active */
        .active_header {
            background-color: white;
            border-bottom: 1px solid #eee;
        }

        .active_menu {
            color: black;
        }
        
        .hover_header{
            background:#000;
        }
        .hover_menu{
            color:white;    
        }
        
        
