<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layouts/cultureLayout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
		$(document).ready(function(){
			// 로그인 구현 해야함.
			/*$('#board_write').click(function(){
				if(${whologin == 0}){
					alert('로그인 하셔야 게시글 작성이 가능합니다.');
					$("#board_write").attr("href", "meLogin");
				}
			});*/

			$('#boardDeleteBtn').hover(function(){
				$(this).css({"background-color":"rgb(104, 105, 172, 0.3)"});
			}, function(){
				$(this).css({"background-color":"#FFFFFF"});
			});

			$('#boardUpdateBtn').hover(function(){
				$(this).css({"background-color":"rgb(104, 105, 172, 0.3)"});
			}, function(){
				$(this).css({"background-color":"#FFFFFF"});
			});

			$('#goToBoardPage').hover(function(){
				$(this).css({"background-color":"rgb(104, 105, 172, 0.3)"});
			}, function(){
				$(this).css({"background-color":"#FFFFFF"});
			})

			$('#comment_submit').hover(function(){
				$(this).css({"background-color":"rgb(104, 105, 172, 0.3)"});
			}, function(){
				$(this).css({"background-color":"#FFFFFF"});
			});

            $("#boardBackBtn").click(function(){
                history.go(-1)();
            });
		});

		function deleteFunction(board_no){
			var text = "게시글을 삭제하시겠습니까?";
			var uri = [[@{/CommunityMain/board_free_delete}]]
            var html = "";
			if(confirm(text) == true){
			    html += '<form name="deleteForm" action="'+uri+'" method="get">';
                html += '<input type="hidden" name="board_no" value="'+board_no+'" />';
                html += '</form>';

                $("body").append(html);
				document.deleteForm.submit();
			}else{
				return false;
			}
		}

		function updateFunction(board_no){
			var text = "게시글을 수정하시겠습니까?";
            var uri = [[@{/CommunityMain/board_free_update}]]
            var html = "";
			if(confirm(text) == true){
                html += '<form name="updateForm" action="'+uri+'" method="get">';
                html += '<input type="hidden" name="board_no" value="'+board_no+'" />';
                html += '</form>';

				$("body").append(html);
				document.updateForm.submit();
			}else{
				return false;
			}
		}

		function deleteCommentFunction(commentNum){
			var text = "댓글을 삭제하시겠습니까?";

			if(confirm(text) == true){

				return true;
			}else{
				return false;
			}
		}

		$('#board_content').val().replace("crcn", "\r\n");
		$('#board_content').val().replace("br", "<br/>");

        </script>
    </th:block>

    <th:block layout:fragment="css">
        <style>

        #template{
            display: flex; width: 100%;
            justify-content: center; margin: 150px 0px 150px 0px;
        }
        #container{
            width: 60%;
        }
        #title{
            border-bottom: 4px solid gray;
            width:100%;
        }

        #boardColumn{
            border-collapse: collapse; width:100%;
        }

		#boardDateReadHit{
			height: 40px;
			border-bottom: 1px solid gray;
			font-size: 12px; font-weight: bold;
		}
		#boardDetailInfo{
			width: 100%; list-style: none;
			padding-left: 0;
		}
		#boardDetailInfo li{
			display: flex; line-height: 50px; border-bottom: 1px solid lightgray;
		}
		#boardDetailInfo span:first-child{
			text-align: center; line-height: 50px; font-size: 18px; font-weight: bold; white-space:nowrap;
		}
		#boardDetailInfo span:last-child{
			width: 90%;
		}

        </style>
    </th:block>
</head>
<body>
<div layout:fragment="content">

    <input type="hidden" id="boardFree" th:value="${boardFree.board_no}">
    <input type="hidden" id="userId" th:value="${userId}">

    <div id="template">
        <div id="container">
            <div id="title">
                <h2 style="font-weight: bold;">
                    자유 게시판
                </h2>
            </div>
            <table id="boardColumn">
                <tr id="boardDateReadHit">
                    <td style="width: 60%"></td>
                    <td style="width: 10%; text-align: center;">작성일자</td>
                    <td style="width: 10%; text-align: center;" th:text="${boardFree.board_regdate}"></td>
                    <td style="width: 10%; text-align: center;">조회수</td>
                    <td style="width: 10%; text-align: center;" th:text="${boardFree.board_readhit}"></td>
                </tr>
            </table>
            <ul id="boardDetailInfo">
                <li><span>작성자&nbsp;:&nbsp;</span><span th:text="${boardFree.board_writer}">&nbsp;&nbsp;</span></li>
                <li><span>제목&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</span><span th:text="${boardFree.board_title}">&nbsp;&nbsp;</span></li>
            </ul>

            <table class="table table-striped" id="content_table">
                <tbody>
                <tr id="board_content">

                    <td colspan="6"><p id="text" th:text="${boardFree.board_content}"></p></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped" id="comment_table">
                <tr>
                    <td rowspan="1" colspan="4">
                        댓글
                    </td>
                </tr>

                <th:choose>
                    <th:if test="${empty requestScope.commentLists }">
                        <tr>
                            <td colspan="3"><p>댓글이 없습니다.</p></td>
                        </tr>
                    </th:if>
                    <th:otherwise>
                        <th:each var="comment_bean" items="${requestScope.commentLists }">
                            <tr>
                                <td width="10%">${comment_bean.nickname }</td>
                                <td width="70%"><p id="comment_p">${comment_bean.fComment }</p></td>
                                <td width="15%">${comment_bean.regDate }</td>
                                <th:if test="${sessionScope.loginfo.nickname == comment_bean.nickname }">
                                    <td width="5%" ><a href="#" class="deleteComment" style="display: block" onclick="deleteCommentFunction(${comment_bean.commentNum})">삭제</a></td>
                                </th:if>
                                <th:unless test="${sessionScope.loginfo.nickname != comment_bean.nickname }">
                                    <td width="5%" ><a href="#" class="deleteComment" style="display: none">삭제</a></td>
                                </th:unless>
                            </tr>
                        </th:each>
                    </th:otherwise>

                </th:choose>
            </table>

            <td colspan="10" align="center">
                <form action="" method="post" id="commentForm" onsubmit="return false">
                    <p>댓글작성</p>
                    <div class="form-group">
                        <textarea style="width:93%" rows="2" id="comment_area" name="member_comment"
                                  placeholder="댓글을 작성해주세요"></textarea>
                        <input type="hidden" id="board_nickname" name="nickname" value=${sessionScope.loginfo.nickname }>
                        <input type="hidden" id="board_num" name="boardNum" value=${bean.boardNum }>
                        <button type="submit" class="btn btn-primary pull-right" id="comment_submit"
                                style="background-color:#FFFFFF; color: #6667AB; border: 1px solid #6667AB">댓글달기
                        </button>
                    </div>
                </form>
                <br/>
                <button th:if="${boardFree.board_writer} == ${userId}" class="btn btn-primary pull-right" id="boardDeleteBtn"
                   style="background-color:#FFFFFF; color: #6667AB; border: 1px solid #6667AB; box-sizing:border-box; margin-top: 10px;" th:onclick="deleteFunction([[${boardFree.board_no}]])"><b>삭제</b>
                </button>

                <button th:if="${boardFree.board_writer} == ${userId}" class="btn btn-primary pull-right" id="boardUpdateBtn"
                   style="background-color:#FFFFFF; color: #6667AB; border: 1px solid #6667AB; box-sizing:border-box; margin-top: 10px;" th:onclick="updateFunction([[${boardFree.board_no}]])"><b>수정</b>
                </button>

                <a id="boardBackBtn" class="btn btn-primary" style="background-color:#FFFFFF; color: #6667AB; border: 1px solid #6667AB">뒤로가기</a>&nbsp;&nbsp;
            </td>
        </div>
    </div>
</div>
</body>
</html>